entrypoint = "index.js"
modules = ["bun-1.0:v17-20240117-0bd73cd"]

hidden = [".config", "bun.lockb"]

[nix]
channel = "stable-23_05"

[deployment]
run = ["bun", "index.js"]
deploymentTarget = "cloudrun"

